.all {
    height: 21.6rem;
    background: #A69898;
    display: grid;
    place-items: center;
}


.title {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #2F252E;
}

.name {
    text-transform: uppercase;
    color: green;
}

.biggest {
    text-align: center;
    color: #2F252E;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 3.5rem;
}

.total {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2F252E;
}

.button {
    background: #4036418a;
    border-radius: 10px;
    border: #4036418a;
    height: 1rem;
    width: 3rem;
    cursor: pointer;
}