.all {
    height: 30rem;
    background: #A69898;
    display: grid;
    place-items: center;
}

.title {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #2F252E;
}

.divlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    list-style: none;
    font-size: 1.5rem;
    color: #2F252E;
    padding: 2rem;
}

.button {
    background: #4036418a;
    border-radius: 10px;
    border: #4036418a;
    height: 1rem;
    width: 3rem;
    cursor: pointer;
}