.all {
    height: 40rem;
    background: rgb(226, 222, 222);
}

.title {
    margin: 0;
    padding-top: 4rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(58, 37, 37);
}

.divlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    list-style: none;
    font-size: 2rem;
    color: rgb(58, 37, 37);
    padding: 2rem;
}

