.div {
    background: rgb(226, 222, 222);
}

.list {
    margin: 0;
    padding: 4rem;
    list-style: none;
    text-align: center;
    font-size: 3rem;
}

.list li {
    padding: 2rem;
}

.link {
    text-decoration: none;
    color: rgb(58, 37, 37);
}