.div {
    background: #A69898;
}

.list {
    margin: 0;
    padding: 4rem;
    list-style: none;
    text-align: center;
    font-size: 3rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card1 {
    background: #4036418a;
    position: relative;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 3px #221b21;
    max-width: 460px;
    height: 200px;
    margin: 2rem;
    padding-top: 5rem;
}

.card2 {
    background: #4036418a;
    position: relative;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 3px #221b21;
    max-width: 460px;
    height: 200px;
    margin: 2rem;
    padding-top: 5rem;
}

.card3 {
    background: #4036418a;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 0 3px #221b21;
    max-width: 460px;
    height: 200px;
    margin: 2rem;
    padding-top: 5rem;
}

.card4 {
    background: #4036418a;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 0 3px #221b21;
    max-width: 460px;
    height: 200px;
    margin: 2rem;
    padding-top: 5rem;
}



.link {
    text-decoration: none;
    color: #2F252E;
}