.all {
    height: 40rem;
    background: #A69898;
    display: grid;
    place-items: center;
}

.title {
    margin: 0;
    padding-top: 4rem;
    text-align: center;
    font-size: 3rem;
    color: #2F252E;
}


.wine {
    text-align: center;
    font-size: 3rem;
    color: #2F252E;
    font-style: italic;
    margin: 0;
    padding-top: 2rem;
}

.list {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    color: #2F252E;
    padding: 2rem;
    margin: 0;
}

.names {
    width: 10rem;
    height: 3rem;
    background: #4036418a;
    border-radius: 10px;
    font-size: 1.2rem;
}