.all {
    height: 30rem;
    background: #A69898;
    display: grid;
    place-items: center;
}

.title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    color: #2F252E;
}


.wine {
    text-align: center;
    font-size: 2rem;
    color: #2F252E;
    font-style: italic;
    margin: 0;
    padding-top: 1rem;
}

.list {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    color: #2F252E;
    padding: 0;
    margin: 0;
}

.select {
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.button {
    background: #4036418a;
    border-radius: 10px;
    border: #4036418a;
    height: 1rem;
    width: 3rem;
    cursor: pointer;
}