.all {
    height: 40rem;
    background: #A69898;
}

.title {
    margin: 0;
    padding-top: 4rem;
    text-align: center;
    font-size: 3rem;
    color: #2F252E;
}

.options {
    width: 10rem;
    height: 2rem;
}

.wine {
    text-align: center;
    font-size: 3rem;
    color: #2F252E;
    font-style: italic;
    margin: 0;
    padding-top: 6rem;
}

.list {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    color: #2F252E;
    padding: 2rem;
    margin: 0;
}